<section class="sem-fiador" th:fragment="fiador">
    <div class="sem-fiador__cotainer">
        <img src="/img/imagem/sem-fiador.svg" alt="...">
        <div class="sem-fiador__container__conteudo">
            <h2 class="titulo__segundo">Sem complicações e sem fiador</h2>
            <p>Sem aquelas burocracias para comprar seu tão sonhado imóvel e também sem a necessidade de um fiador.</p>
            <a class="no-decoration" href="#">Como comprar sem fiador <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>